; export_presets.cfg
[preset.0]
name="Web"
platform="Web"
runnable=true
dedicated_server=false

[preset.0.options]
custom_template/debug=""
custom_template/release=""
variant/extensions_support=false
html/export_icon=true
html/head_include=""
html/canvas_resize_policy=2
progressive_web_app/enabled=true
